@tailwind base;
@tailwind components;
@tailwind utilities;
.toggle-container {
  display: inline-block;
  position: relative;
  width: 72px;
  height: 34px;
}

.toggle-input {
  display: none;
}

.toggle-label {
  display: block;
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;
}

.toggle-svg {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}

.toggle-background {
  transition: fill 0.3s ease;
}

.toggle-circle {
  transition: transform 0.3s ease;
  transform: translateX(0);
  fill: white;
}

.toggle-input:checked + .toggle-label .toggle-circle {
  transform: translateX(38px); /* Adjust based on the toggle width */
}

.toggle-input:checked + .toggle-label .toggle-background {
  fill: #00A4A6; /* Change the background color when checked */
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.animate-bounce {
  animation: bounce 1s infinite;
}
@keyframes shine {
  0% {
    filter: brightness(1);
  }
  25% {
    filter: brightness(2);
  }
  50% {
    filter: brightness(3);
  }
  75% {
    filter: brightness(2);
  }
  100% {
    filter: brightness(1);
  }
}

.animate-shine {
  animation: shine 1.5s infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotating {
  animation: rotate 10s linear infinite;
}
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
